<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="connectionstring" connectionString="Data Source=DELL-PC;Initial Catalog=C:\AUG6\BOOKSREVIEWS\APP_DATA\DATABASE.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
 
	<system.web>
    
		<pages theme="light" styleSheetTheme="light"/>
		<authentication mode="Forms"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
